.vs/
.vs/**

assets/Models/
assets/Models/**

assets/Shaders/HLSL/PDB/
assets/Shaders/HLSL/PDB/**

assets/Textures/
assets/Textures/**

bin/
bin/**

externs/
externs/**

obj/
obj/**

packages/
packages/**

